 html {
    box-sizing: border-box;
 font-size: 62,5% ;
    margin: 0;
    bottom: 0;
}


header {
    position: fixed;
    z-index: 1;
    top: 0;
}


body {
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    flex: 2;
    background-color: #ebd4cc;
    font-size: 16px;
}


.titulo1 {
    margin-top: 15rem;

}

.parrafo {
    text-align: justify;
    margin-top: 6rem;
}

.parrafo-quienes {
    display: flex;
    text-align: justify;
    margin: 5rem;
}


.parrafo-raro{
    margin-top: 5em;
}


.listado-index {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5rem;
    gap: 6rem;

}




@media (min-width: 768px) {
    .listado-index {
        flex-direction: row; 
    }
   
}
.img-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiene-fotos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}



@media (min-width: 768px) {
    .listado-index {
        flex-direction: row; 
    }
    .quiene-fotos {
        flex-direction: row;
    }
}

img {
    max-width: 100%;
    width: 20rem;
    height: 20rem;
    border-radius: 1rem;
}

.logo {
    width: 100%;
    position: relative;
    max-width: 100%;
    width: 200rem;
    height: 12rem;
}


.color-parrafo {
    color: #1A1B25;
}

#section-parrafo2{
    font-size: 14px;
}


.tabla {
    width: 385px;
    height: 115px;
}


/* estilos de lista se puede agregar otra ej: ul, ol*/
ul {
    list-style: none;
    font-style: italic;

}


a {
    text-decoration: none;
    color: black;
}


.menu-navegacion {
    display: flex;
    justify-content: space-evenly;
    background-color: #d55c5a;
}

.menu-navegacion li a{
   transition: ease-in-out 0.2s;
}
.menu-navegacion li a:hover{
    color: rgb(95, 86, 92);
    background-color:rgb(191, 217, 221);
    border-radius: 30%;
    cursor: pointer;
}



.mapa {
    margin-top: 10rem;
    margin-right: 20rem;
    margin-left: 20rem;

}


.fotonails {
    margin-right: 2rem;
    margin-bottom: 2rem;
    margin-left: 5rem;
    height: 20rem;
    width: 20rem;
}


.galeria-fotos {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-top: 10rem;
    gap: 2rem;
}

.video-galeria {
    display: flex;
    justify-items: start;
    justify-content: space-evenly;
}


h1,
h2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
 
}



.listaIndex {
    list-style: disc;
    font-style: normal;
    color:#514945;

}


.listado-index{

width: 100%;
justify-content: space-evenly;

}



h4 {
    color: rgb(61, 21, 99);
}

.acomodar-tabla {
    margin-top: 20rem;
    display: flex;
    justify-content: center;
}



footer {
    margin-top: 20rem;
}

.img-index{
    margin-top: -0rem;
}

.logo-instagram{
    width: 1.5rem;
    height: 1.5rem;
}

.logos-footer{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.mail{
    display: flex;
    gap: 0.5rem;
    margin-top: -1rem;
}

#footer{
    background: #f5918f;
}
.footer1{
    margin-top: -1rem;
    margin: 0;
}

/*ANIMACIONES*/
.img-transition1{
    transition: all 1.5s;
}

.img-transition1:hover{
    transform: scale(1.5,1.5);
    cursor: pointer;
}

.footer1{
    margin-top: -1rem;
}

.tabla-new{
    margin-top: 25rem;
}

form{
    border-style:outset;
    border-color: #d55c5a;
}

.donde-estamos{
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
}