/*Paleta de colores*/
/*ESPACIADO*/
/*FUENTES*/
/*$letra-titulos:*/
/*RESOLUCIONES*/
/*Mixins*/
/*Con parametros*/
/*Sin parametros*/
html {
  box-sizing: border-box;
  font-size: 62, 5%;
  margin: 0;
  bottom: 0;
}

header {
  position: fixed;
  z-index: 1;
  top: 0;
}

a {
  text-decoration: none;
  color: #514945;
}

img {
  width: 20rem;
  height: 20rem;
  max-width: 100%;
  border-radius: 1rem;
}

.logo {
  width: 100%;
  position: relative;
  max-width: 100%;
  width: 200rem;
  height: 15rem;
}

.titulo1 {
  margin-top: 30rem;
  font-size: 50px;
}

/*Anidacion*/
.menu-navegacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebd4cc;
  gap: 1rem;
  list-style: none;
  font-style: italic;
  font-size: 20px;
}
.menu-navegacion li a {
  transition: ease-in-out 0.2s;
}
.menu-navegacion li a:hover {
  color: rgb(95, 86, 92);
  background-color: rgb(191, 217, 221);
  border-radius: 30%;
  cursor: pointer;
}

@media (min-width: 768px) {
  .menu-navegacion {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
/*footer*/
#footer {
  background: #F5918F;
  margin-top: 30rem;
}
#footer .footer1 {
  margin-top: -1rem;
  margin: 0;
}
#footer .footer1 {
  margin-top: -1rem;
}
#footer .mail {
  display: flex;
  gap: 0.5rem;
  margin-top: -1rem;
}
#footer .logo-instagram {
  width: 1.5rem;
  height: 1.5rem;
}
#footer .logos-footer {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

body {
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  flex: 2;
  background-color: #ebd4cc;
  font-size: 16px;
}

.parrafo {
  display: flex;
  align-items: center;
  text-align: justify;
  justify-content: center;
  margin-top: 5rem;
}
.parrafo .parrafo-raro {
  margin-top: 5rem;
}

.listado-index {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5rem;
  gap: 5rem;
}

@media (min-width: 768px) {
  .listado-index {
    flex-direction: row;
  }
}
.parrafo-quienes {
  display: flex;
  text-align: justify;
  margin: 5rem;
}

.img-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiene-fotos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 768px) {
  .listado-index {
    flex-direction: row;
  }
  .quiene-fotos {
    flex-direction: row;
  }
}
.color-parrafo {
  color: #1A1B25;
}

#section-parrafo2 {
  font-size: 14px;
}

.tabla {
  width: 385px;
  height: 115px;
}

.mapa {
  margin-top: 10rem;
  margin-right: 20rem;
  margin-left: 20rem;
}

.video-galeria {
  display: flex;
  justify-items: start;
  justify-content: space-evenly;
}

h1,
h2 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.listaIndex {
  list-style: disc;
  font-style: normal;
  color: #514945;
}

.listado-index {
  width: 100%;
  justify-content: space-evenly;
}

h4 {
  color: rgb(61, 21, 99);
}

.img-index {
  margin-top: 0rem;
}

/*ANIMACIONES*/
.img-transition1, .fotonails {
  transition: all 1.5s;
}
.img-transition1:hover, .fotonails:hover {
  transform: scale(1.5, 1.5);
  cursor: pointer;
}

.fotonails {
  margin-right: 2rem;
  margin-bottom: 2rem;
  margin-left: 5rem;
  height: 20rem;
  width: 20rem;
}

.galeria-fotos {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin-top: 10rem;
  gap: 2rem;
}

.tabla-new {
  margin-top: 10rem;
}

form {
  border-style: outset;
  border-color: #d55c5a;
}

.donde-estamos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mapa {
  max-width: 100%;
}



/*# sourceMappingURL=styles.css.map */
