body {
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    flex: 2;
    background-color: $color--principal;
    font-size: 16px;
}



.parrafo {
    display: flex;
    align-items: center;
    text-align: justify;
    justify-content: center;
    margin-top: $espaciado-semi;

    .parrafo-raro {
        margin-top: $espaciado-semi;
    }

}

.parrafo-quienes {
    display: flex;
    text-align: justify;
    margin: $espaciado-semi;
}

.quiene-fotos {
    @include display-centrado;
    justify-content: space-around;
    align-items: center;
}


.img-1 {
    @include display-centrado;
    align-items: center;
}


@media (min-width: $tablet) {
    .quiene-fotos {
        flex-direction: row;
    }
}


.mapa-flex {
    display: flex;
    justify-content: center;

    .mapa {
        max-width: 100%;
        margin-top: $espaciado-medio;
        margin-right: $espaciado-grande;
        margin-left: $espaciado-grande;

    }
}




.video-galeria {
    display: flex;
    justify-items: start;
    justify-content: space-evenly;
}


h1,
h2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}



/*ANIMACIONES*/
.img-transition1 {
    transition: all 1.5s;

    &:hover {
        transform: scale(1.5, 1.5);
        cursor: pointer;

    }

}

.galeria-fotos {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-top: $espaciado-medio;
    gap: 2rem;

    .fotonails {
        @extend .img-transition1;
        margin-right: 2rem;
        margin-bottom: 2rem;
        margin-left: $espaciado-semi;
        height: $espaciado-grande;
        width: $espaciado-grande;
    }

}

.donde-estamos {
    @include display-centrado;
    align-items: center;
}

.mapa {
    max-width: 100%;
}