body {
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    flex: 2;
    background-color: $color--principal;
    font-size: 16px;
}



.parrafo {
    display: flex;
    align-items: center;
    text-align: justify;
    justify-content: center;
    margin-top: $espaciado-semi;

    .parrafo-raro {
        margin-top: $espaciado-semi;
    }

}

.parrafo-quienes {
    display: flex;
    text-align: justify;

}

.quiene-fotos {
    @include display-centrado;
    padding: 4rem;
    justify-content: space-around;
    align-items: center;
}

.donde-estamos {
    @include display-centrado;
    align-items: center;
}


@media (min-width: $tablet) {
    .quiene-fotos {
        flex-direction: row;
    }
}


.mapa-flex {
    display: flex;
    justify-content: center;

    .mapa {
        max-width: 100%;
        margin-top: $espaciado-medio;
        margin-right: $espaciado-grande;
        margin-left: $espaciado-grande;

    }
}



.apartado-video {
    margin-top: $espaciado-medio;

    .video {
        max-width: 100%;
    }

    .video-galeria {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5rem;
        margin-top: $espaciado-medio - 2rem;
    }

}



h1,
h2 {
   margin-bottom: 4rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}



/*ANIMACIONES*/
.img-transition1 {
    transition: all 1.5s;

    &:hover {
        transform: scale(1.5, 1.5);
        cursor: pointer;

    }

}

.galeria-fotos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: $espaciado-medio;
    gap: 5rem;

    .fotonails {
        @extend .img-transition1;

        height: $espaciado-grande;
        width: $espaciado-grande;
    }

}



.donde-estamos {
    @include display-centrado;
    align-items: center;
}

.mapa {
    max-width: 100%;
}