/*Paleta de colores*/

$color--principal: #F5918F;
$color-secundario: #d55c5a;
$color-footer: #ebd4cc;
$color-adornos: #894242;
$color-opcional: #514945;


/*ESPACIADO*/

$espaciado-grande: 2rem;


/*FUENTES*/

/*$letra-titulos:*/ 

/*RESOLUCIONES*/

$tablet: 768px;
$desktop: 992px
